@page
@model StockTrackerApp.Pages.IndexModel

<table class="table table-hover" data-toggle="table">
    <thead>
        <tr>
            <th scope="col" data-sortable="true">Ticker</th>
            <th scope="col" data-sortable="true">Name</th>
            <th scope="col" data-sortable="true">Price</th>
            <th scope="col" data-sortable="true">P/E Ratio</th>
            <th scope="col" data-sortable="true">EV/EBITA</th>
            <th scope="col" data-sortable="true">Free Cash Flow</th>
            <th scope="col" data-sortable="true">Debt to Equity</th>
            <th scope="col" data-sortable="true">Earnings Growth</th>
            <th scope="col" data-sortable="true">Revenue Growth</th>
            <th scope="col" data-sortable="true">Industry</th>
            <th scope="col" data-sortable="true">Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stock in Model.Stocks)
        {
            <tr class="table-dark">
                <td>@stock.Symbol</td>
                <td>@stock.Name</td>
                <td>@stock.Price</td>
                <td>@stock.PERatio</td>
                <td>@stock.EvEbita</td>
                <td>@stock.FreeCashFlow</td>
                <td>@stock.DebtToEquity</td>
                <td>@stock.EarningsGrowth</td>
                <td>@stock.RevenueGrowth</td>
                <td>@stock.Industry</td>
                <td>@stock.LastUpdated</td>
            </tr>
        }
    </tbody>
</table>
